@{
    ViewData["Title"] = "Gizlilik Sözleşmesi | Mizgin Doğan Hukuk";
}

    <div class="container pt-50 pb-50 privacy-text">

        <div class="col-md-12 ">            
                            <h3>
                                Üyelik Sözleşmesi ve Gizlilik Politikası
                            </h3>
                            <div class="td-page-content">

                                <p class="t-i">
                                    www.mizgindogan.com adresine üye olabilmek, siteden hizmet alabilmek veya siteyi kullanabilmek için
                                    aşağıda belirteceğimiz şartları kabul etmeniz gerekmektedir.
                                </p>
                                <h4>Üyelik Sözleşmesi</h4>
                                <ul class="privacy-list">
                                    <li>
                                        Yapılacak olan üyelik sözleşmesiyle birlikte bu sözleşmenin tarafları olan www.mizgindogan.com ile
                                        üyelik sözleşmesinin diğer tarafı olan üye birtakım yükümlülükleri yerine getirmek durumundadır.
                                        Bu hak ve yükümlülükler:
                                    </li>
                                    <li>
                                        İnternet sitesine üye olan kişi bu üyelik sözleşmesini ve gizlilik
                                        politikasını onayladıktan sonra işbu sözleşmenin &#8221;Tarafı&#8221; olacaktır.
                                    </li>
                                    <li>
                                        Sözleşmenin tarafı olan üye bu siteye üye olmakla birlikte site üzerinden, kanuna
                                        aykırı herhangi bir işlem, topluma ve genel ahlaka aykırı bir davranış, kamu düzeninin
                                        bozan herhangi bir eylem gerçekleştiremez.
                                    </li>
                                    <li>
                                        İşbu sözleşmeyle birlikte üyelerin ilettiği kişisel bilgiler (Telefon numaraları, e-mail bilgileri vs.)
                                        3.kişilere açılmayacaktır. Kişilerin paylaştığı bilgiler &#8221;Gizli Bilgiler&#8221; olarak nitelendirilecek
                                        ve bu hususa göre hareket edilecektir.
                                    </li>
                                    <li>
                                        www.mizgindogan.com sitesinde yer alan fikir ve düşünceler,
                                        yazılan yorumlar veya sorulan sorular yalnızca üyelerin fikirleri olup bu durumlardan dolayı da yine yalnızca
                                        üyeler sorumlu olacaklardır.
                                    </li>
                                    <li>
                                        &#8221;Gizli Bilgiler&#8221; olarak nitelendirilen bu bilgiler ancak
                                        resmi makamların talepleri üzerine yine bu resmi makamlar ile paylaşılabilecektir.
                                    </li>
                                    <li>
                                        Üyenin sağlıklı bir sözleşme olabilmesi için bilgilerini doğru girmesi ve güncel kayıtlı bilgileri vermesi
                                        gerekmektedir. Aksinin tespit edildiği durumlarda sözleşme www.mizgindogan.com tarafından tek taraflı olarak iptal
                                        edilebilecektir.
                                    </li>
                                    <li>
                                        Üyelik sözleşmesinde meydana gelebilecek değişiklikleri üye takip etmek durumundadır.
                                        Yapılan değişiklikler sitede yayımlanmasıyla birlikte geçerli olmaya başlayacaktır. Üye hizmetlerden
                                        yararlanmaya devam etmekle birlikte değişiklikleri kabul ediyor sayılacaktır.
                                    </li>
                                    <li>
                                        Üyelik sözleşmesinin yetkisiz kişiler tarafından ele geçirilmesi, yazılıma veya internet sitesine
                                        karşı yapılacak herhangi bir saldırı ile ortaya çıkacak zarardan www.mizgindogan.com sorumlu olmayacaktır.
                                    </li>
                                    <li>
                                        Üyelerin fikir veya görüşlerini paylaşmalarından dolayı ortaya çıkabilecek her türlü sorumluluktan yine
                                        üyeler sorumlu olacaktır.
                                    </li>
                                    <li>
                                        İşbu sözleşmeyle birlikte www.mizgindogan.com tarafından üyeye sms veya
                                        e-mail gönderilebilecektir. Bu sözleşmenin onaylanmasıyla birlikte üye sms veya e-mail gönderilme işlemini
                                        kabul ediyor olacaktır. Sms veya e-mail almak istemeyen üye bunu açık bir şekilde iletişime geçerek bildirmek
                                        durumundadır.
                                    </li>
                                    <li>
                                        Burada üye olunmasıyla birlikte avukat-müvekkil ilişkisi kurulmamakta yalnızca internet
                                        sitesine üyelik işlemi gerçekleşmektedir.
                                    </li>
                                    <li>
                                        Üye işbu sözleşmeyle birlikte sözleşmenin tarafları arasında
                                        oluşabilecek her türlü uyuşmazlıkta İstanbul (Merkez) Adliyesi Mahkemeleri ve İcra Mahkemeleri yetkili
                                        olacaktır. Bu uyuşmazlıklardan dolayı oluşabilecek her türlü durumda Türk Hukuku kuralları geçerli olacaktır.
                                    </li>
                                    <li>
                                        Üyenin üyelik kaydı yapması ile birlikte yazılan tüm maddeleri okuduğu ve bunları kabul ettiği; sözleşmede yer
                                        alan maddeler dışında bir işlem yapamayacağı aksi halde www.mizgindogan.com &#8216;un haklarının saklı tutulacağı
                                        anlamına gelecektir.
                                    </li>
                                    </ul>
                                <h4>Gizlilik Politikası</h4>
                                    <ul class="privacy-list">                                       
                                        <li>
                                            www.mizgindogan.com sitesinden verilecek her türlü cevabın hakları saklıdır. Bu cevaplar paylaşılamaz, herhangi
                                            bir mecrada kullanılamaz, bu bilgiler ışığında bir yarar sağlanamaz.
                                        </li>
                                        <li>
                                            Gizlilik politikası ve yapılan üyelik sözleşmesi gereği www.mizgindogan.com sitesiyle paylaşılan bilgiler
                                            (ad-soyad, telefon numarası, e-mail adresi vb.) gizli tutulması ve herhangi bir şekilde paylaşımda bulunulmayacağı
                                            garanti altına alınmış olup 3.şahıslar tarafından yapılacak saldırılar sonucunda meydana gelebilecek olumsuzluklardan
                                            www.mizgindogan.com sorumlu tutulamayacaktır. Gizlilik politikasında tek istisna resmi makamların talebi olup resmi
                                            makamlar dışında bilgiler saklı tutulacaktır.
                                        </li>
                                        <li>
                                            1136 sayılı Avukatlık Kanunu gereği www.mizgindogan.com sır saklama yükümlülüğüne bağlı olarak
                                            hareket edecek ve bu bakımdan paylaşılan bilgileri koruyacaktır.
                                        </li>
                                        <li>
                                            Bu siteyle birlikte www.mizgindogan.com toplumu ve insanları bilgilendirmek amacı gütmekte olup
                                            reklam veya başka herhangi bir yolla gelir elde etme amacı gütmemektedir.
                                        </li>
                                        <li>
                                            Sistemle ilgili sorunların tanımlanması ve verilen hizmetlerin daha sağlıklı olabilmesi
                                            için üyelerin IP adresini kaydetmekte olup bu hususlarda kullanılabilir. Üyelerin IP adresi kullanıcıları
                                            genel bir şekilde tanımak için de kullanılabilecektir.
                                        </li>
                                        <li>
                                            www.mizgindogan.com siteyi ziyaret eden kullanıcı ve üyeler web sitesini kullanımı
                                            hakkındaki bilgileri teknik bir iletişim dosyası (Çerez-Cookie) kullanarak elde edilebilir.
                                        </li>
                                        <li> Bu site ve içeriği TBB meslek kuralları ve reklam yasağı yönetmeliğine uygun olarak düzenlenmiştir.</li>
                                    </ul>
</div>
                    </div>
                </div>
            