@model mizgindogancom.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Faaliyet Alanlarımız | Mizgin Doğan Hukuk";
}

<partial name="_PartialViewBannerForHome" model="Model" />

<!-- Our Practice Areas Start -->
<div class="rs-our-practice pt-100 pb-100">
    <div class="container">
        <div class="nagetive-margin white-bg pt-100">
            <div class="sec-title text-center">
               
            </div>
            <partial name="_PartialViewPractice" model="Model"/>         
        </div>
    </div>
</div>
<!-- Our Practice Areas END -->
